.music-player {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1px;
  }
  
  #musicBtn {
    font-size: 10px;
    padding: 1rem;
    border-radius: 50%;
    background-color: #1db954;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
  }
  